<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b09962ca-fee7-40aa-9424-4bee5ac6f9ab" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b09962ca-fee7-40aa-9424-4bee5ac6f9abfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
